/*Checkbox*/
.round {
    border-radius: 5px;
    position: relative;
    background-color: #F6F4F4;
    display: flex;
    padding: 3px 5px;
}

.round label {
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 18px;
    left: 0;
    top: 0;
    width: 18px;
}

.round label:after {
    border: 2px solid #27BD75;
    border-top: none;
    border-right: none;
    content: "";
    height: 4px;
    left: 4px;
    opacity: 0;
    position: absolute;
    top: 5px;
    transform: rotate(-45deg);
    width: 9px;
}

.round input[type="checkbox"] {
    visibility: hidden;
    position: absolute;
    left: -9999px;
}

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
/*End of Checkbox*/


/*Dropdown*/
.dropbtn span {
   float: right;
}

/* ItemNumberDropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    opacity: 0.7;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}
/*End of Dropdown*/