#filter-row1 {
    width: 522px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

@media (max-width: 800px) {
    #filter-row1 {
        max-width: 90%;
        height: 60px;
        flex-direction: column;
        gap: 5px;
    }
}