.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.App form{
  margin-top: 50px;
}

ul li input[type=checkbox]{
  margin: 0;
  width: 20px;
  height: 20px;
}

ul li input[type=text]{
  margin: 0 0 0 30px;
  padding: 0;
  height: 21px;
  outline: none;
  box-sizing: border-box;
  text-indent: 5px;
}

ul li span{
  width: 300px;
  margin-left: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.finished-item{
  text-decoration: line-through;
  color: red;
}

