.App {
  text-align: center;
  width: 600px;
  margin: 0 auto;
}

.App form{
  margin-top: 50px;
}

/*ul{*/
/*  width: 600px;*/
/*  margin: 30px auto 0;*/
/*}*/

/*ul li{*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  justify-content: center;*/
/*  list-style-type: none;*/
/*  text-align: left;*/
/*}*/

ul li input[type=checkbox]{
  margin: 0;
  width: 20px;
  height: 20px;
}
ul li span{
  width: 150px;
  margin-left: 30px;
}

.finished-item{
  text-decoration: line-through;
  color: red;
}

