.App {
  width: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}

/*custom checkbox*/

.select-delete-main-container{
  display: flex;
  align-content: center;
}

.row2.dropbtn{
  margin-left: 15px;
}

.round {
  border-radius: 5px;
  position: relative;
  background-color: #F6F4F4;
  display: flex;
  padding: 3px 5px;
}

.round span{
  margin-left: 10px;
  font-size: 15px;
  color: #2794BD;
}

.round label {
  position: relative;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  left: 0;
  top: 0;
  width: 18px;
}

.round label:after {
  border: 2px solid #27BD75;
  border-top: none;
  border-right: none;
  content: "";
  height: 4px;
  left: 4px;
  opacity: 0;
  position: absolute;
  top: 5px;
  transform: rotate(-45deg);
  width: 9px;
}

.round input[type="checkbox"] {
  visibility: hidden;
  position: absolute;
  left: -9999px;
}
.row1{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.row2{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.row2 .second .dropbtn{
  margin-left: 15px;
}

.row1 input[type="date"] {
  color: #2794BD;
  border: 0;
  background-color: transparent;
  outline: none;
  width: 131px;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

ul li .round{
  background-color: transparent;
}

.delete-selected-btn-container{
  margin-left: 5px;
}



@media (max-width: 800px){
  .App {
    width: 100%;
  }
  #checker{
    max-width: 382px;
    height: 60px;
    flex-direction: column;
  }
  .categories-container{
    max-width: 382px;
  }
}

.App form{
  margin-top: 50px;
}

ul li input[type=checkbox]{
  margin: 0;
  width: 20px;
  height: 20px;
}

ul li input[type=text]{
  margin: 0 0 0 0;
  padding: 0;
  width: 300px;
  height: 26px;
  outline: none;
  box-sizing: border-box;
  text-indent: 5px;
}

.item-details-icon{
  vertical-align: text-top;
}
ul li span{
  width: 300px;
  /*margin-left: 30px;*/
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 26px;
}

@media (max-width: 800px){
  ul li input[type=text]{
    width: inherit;
    margin: 0 0 0 4%;
  }
  ul li span{
    width: inherit;
    margin-left: 1px;
  }
}

.finished-item{
  text-decoration: line-through;
  color: #999999;
  font-style: italic;
}

#checker{
  width: 522px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-top: 50px;
  /*font-size: 24px;*/
}

#checker .dropbtn svg{
  float: left;
}

.input-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  position: relative;
  background-color: #EBEBEB;
  padding: 3px 5px;
  box-sizing: border-box;
  align-items: center;
}

.input-container label{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  width: 20px;
  font-size: 18px;
  color: #2794BD;
  line-height: 18px;
}

/*#checker input[type="checkbox"]{*/
/*  width: 25px;*/
/*  height: 25px;*/
/*  margin-right: 5px;*/
/*}*/

/*#checker label{*/
/*  vertical-align: top;*/
/*  margin-right: 10px;*/
/*}*/

#checker .dropdown{
  height: 26px;
}

#checker .dropbtn{
  vertical-align: super;
}

/* Dropdown Button */
.dropbtn {
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  height: 25px;
  width: 122px;
  color: #2794BD;
  background-color: #F6F4F4;
}

.dropbtn span{
  float: right;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  opacity: 0.7;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  /*margin: 0 auto;*/
  /*width: 122px;*/
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  max-width: 122px;
  min-width: 122px;
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-items{
  overflow-y: auto;
  height: 100px;
}

/* Links inside the dropdown */
.dropdown-content p {
  color: black;
  padding: 6px 8px;
  margin: 0;
  text-decoration: none;
  display: block;
  text-align: left;
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {
  background-color: #ddd;
  cursor: pointer;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.add-new-item{
  display: flex;
}

.add-new-item input{
  width: 78px;
}

.add-new-item button{
  background-color: #329ea8;
  color: white;
  border: 0;
  border-radius: 1px;
}

.add-new-item button:hover{
  opacity: 0.7;
  cursor: pointer;
}

#filter-label{
  margin-left: 20px;
}

#filter-items{
  vertical-align: super;
}


#checker .dropdown-content{
  width: 120px;
  max-width: 120px;
}

#checker .dropbtn{
  width: 145px;
}

.hide-item{
  display: none;
}

.dropdown.second{
}

.red-overlay{
  border: 2px solid red;
}

.categories-container{
  width: 522px;
  display: flex;
  overflow-y: auto;
  flex-direction: row;
  column-gap: 10px;
}

.categories-container button{
  color: #2794BD;
  border: 0;
  background-color: transparent;
  font-size: 14px;
  width: fit-content;
}

.dates{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.dates p{
  margin: 0;
  padding: 0;
}

.dates span{
  color: #2794BD;
  font-weight: bold;
  margin-left: 0;
  font-size: 16px;
}

.task-type{
  margin: 0;
  padding: 0;
}

.task-type span{
  color: #2794BD;
  font-weight: bold;
  font-size: 16px;
}

.action-btns{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}



